
*.pdb
*.exe
*.ilk
*.obj
*.pch
*.tlog
*.log
*.idb
*.user
*.ipch
.vs/TextAdventure/v15/.suo
*.db
*.opendb
*.sqlite
*.enc
*.json
*.ipdb
*.iobj
TextAdventure.zip
*.cache
*.lref
TextAdventureCreator/obj/Debug/App.g.i.cs
TextAdventureCreator/obj/Debug/MainWindow.g.i.cs
TextAdventureCreator/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
TextAdventureCreator/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
TextAdventureCreator/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
TextAdventureCreator/obj/Debug/TempPE/Properties.Resources.Designer.cs.dll
*.db-wal
*.db-shm
TextAdventureCreator/obj/Debug/TextAdventureCreator.Properties.Resources.resources
TextAdventureCreator/obj/Debug/TextAdventureCreator.csproj.FileListAbsolute.txt
